.employerPostModal__content {
  height: 450px;
  width: 400px;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.employerPostModal__picCancel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.employerPostModal__buttonMoment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.employerPostModal__applied {
  color: #32cd32;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.employerPostModal__content {
  display: flex;
  flex-direction: column;
}

.employerPostModal__buttons {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.employerPostModal__cancelButton {
  margin-left: 50px;
}
.employerPostModal__image {
  box-shadow: 2px 2px 15px 0px grey;
}
