.employerPostModal__content {
  height: 450px;
  width: 400px;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.employerPostModal__picCancel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.employerPostModal__buttonMoment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.employerPostModal__applied {
  color: green;
  font-weight: bold;
}

.employerPostModal__content {
  display: flex;
  flex-direction: column;
}

.employerPostModal__buttons {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
