.employerProfile__header {
  text-align: left;
  margin-left: 8vh;
  height: 8vh;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
}

.employerProfile__container {
  display: flex;
  background-color: white;
  // margin: 0 8vh;
}

.employerProfile__left__panel {
  background-color: white;
  // width: 50vw;
  max-width: 640px;
  height: 100vh;
  margin: 4vh 4vh 3vh 8vh;
  display: flex;
  // margin-left: 0;
}

.employerProfile__company__img {
  width: 40vw;
  // width: 35vw;
  // height: 100vh;
  max-height: 40vh;
  object-fit: cover;
  box-shadow: 5px 5px 2px #b9b9b9;
  border-radius: 5px;
}

.employerProfile__right__panel {
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 4vh 8vh 3vh 4vh;
  // margin-right: 8vh;
}

#employerProfile__line__space {
  margin-top: 10px;
  margin-bottom: 10px;
}

.employerProfile__company {
  // margin-top: 3vh;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.employerProfile__avgReview__block {
  // background-color: red;
  display: flex;
}

.employerProfile__reviews__num {
  margin-left: 8px;
  color: #888888;
}

.employerProfile__titleText {
  font-weight: bold;
  color: #373737;
  margin-bottom: 10px;
}

.employerProfile__mgr__block {
  // background-color: red;
  display: flex;
  align-items: center;
}
.employerProfile__mgr__text {
}

.employerProfile__mgr__img {
  border-radius: 50px;
  margin-left: 35px;
}

.employerProfile__contact__btn {
  height: 5vh;
  width: 11vw;
  // background-color: rgb(127, 196, 253);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.employerProfile__contact__text {
  text-decoration: none;
  color: white;
}

.employerProfile__review__block {
  display: flex;
  // background-color: red;
  height: 10vh;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border-top: 0.1px solid lightgrey;
  border-bottom: 0.1px solid lightgrey;
}

.employerProfile__review__textBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // background-color: yellow;
  height: 7vh;
  margin-left: 1vw;
  // height: 100vh;
}

.employerProfile__reviewer__img {
  background-size: cover;
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

.employerProfile__review__moment {
  color: #a4a4a4;
  font-size: 12px;
}

.employerProfile__reviews__toggle {
  color: #4c7aa2;
  cursor: pointer;
}

.employerProfile__addReview__btn {
  color: #4c7aa2;
  cursor: pointer;
}
