.profile__mainContainer {
  // background-color: red;
}

.profile__header {
  // background-color: red;
  text-align: left;
  margin-left: 8vh;
  height: 8vh;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
}

.profile__container {
  display: flex;
  background-color: white;
  // padding-right: 15vw;
}

.profile__left__panel {
  background-color: white;
  width: 50vw;
  height: 100vh;
  margin: 3vh 4vh 3vh 8vh;
}
.profile__user__img {
  width: 35vw;
  border-radius: 5px;
  box-shadow: 5px 5px 2px #b9b9b9;
  // max-height: 40vh;
  // height: 50vh;
  // margin: 3vh;
  object-fit: cover;
}

.profile__right__panel {
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 3vh 8vh 3vh 4vh;
  // height: 100vh;
}

.profile__user__name {
  // margin-top: 3vh;
  font-size: 30px;
  font-weight: bold;
}

#profile__line__space {
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile__stars__number {
  display: flex;
}

.profile__portfolio__title {
  font-weight: bold;
  color: #373737;
}
.profile__reviews__num {
  margin-left: 8px;
  color: #888888;
}

.profile__contact__btn {
  height: 5vh;
  width: 11vw;
  background-color: rgb(127, 196, 253);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.profile__contact__text {
  text-decoration: none;
  color: white;
}

.profile__reviews__title {
  font-weight: bold;
  color: #373737;
}

.profile__reviewer__img {
  background-size: cover;
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

.profile__reviews__avg {
  display: flex;
}

.profile__review__block {
  display: flex;
  // background-color: red;
  height: 10vh;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border-top: 0.1px solid lightgrey;
  border-bottom: 0.1px solid lightgrey;
}

.profile__review__textBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // background-color: yellow;
  height: 7vh;
  margin-left: 1vw;
  // height: 100vh;
}

.profile__review__moment {
  color: #a4a4a4;
  font-size: 12px;
}

.profile__reviews__toggle {
  color: #4c7aa2;
  cursor: pointer;
}

.profile__addReview__btn {
  color: #4c7aa2;
  cursor: pointer;
}

.profile__sample__portfolio {
  font-size: 40px;
}

.profile__portfolio__container {
  display: flex;
}

.profile__portfolio__image {
  height: 10vh;
  width: 10vw;
}
