.employerApplicants__employerListingContainer {
  border: 2px solid black;
  background-color: blanchedalmond;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.employerApplicants__employerPosting {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.employerApplicants__viewProfile {
  color: blue;
  font-size: 14px;
  min-width: 100px;
}
.employerApplicant__background {
  background-color: white;
}
.employerApplicants__applicantContainer {
  margin-right: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
  // background-color: #fff3e1;
  // border: 2px solid #33cd32;
  box-shadow: 0px 0px 6px 0px grey;
  padding: 8px;
  border-radius: 15px;
  position: relative;
  min-width: 140px;
  width: 120px;
  min-height: 140px;
  height: 120px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #7fc4fd;
  border-radius: 15px;
}

.employerApplicants__applicantContainer:hover .overlay {
  opacity: 1;
}

.employerApplicants__text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.employerApplicants__list {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
