.freelancer__posting {
  height: 300px;
  width: 400px;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.freelancer__post__buttons {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.employer__post__buttons {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.employer__posting {
  height: 350px;
  width: 400px;
  margin: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.employer__post__title,
.employer__post__body,
.employer__post__specialty,
.employer__post__price {
  margin-top: 10px;
  margin-bottom: 10px;
}
.post__add__icon__div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 80%;
  position: fixed;
  bottom: 40px;
  right: 35px;
}
.post__add__icon {
  display: flex;
  margin: auto;
  margin-right: 0;
}
