.main__container {
  display: grid;
  height: 100vh;
  grid-template-columns: 15vw 1fr 1fr 1fr;
  // grid-template-rows: 8vh 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  grid-template-areas:
    // "main__sideNav main__topNav main__topNav main__topNav main__topNav"
    "main__sideNav main__propsContainer main__propsContainer main__propsContainer main__propsContainer"
    "main__sideNav main__propsContainer main__propsContainer main__propsContainer main__propsContainer"
    "main__sideNav main__propsContainer main__propsContainer main__propsContainer main__propsContainer"
    "main__sideNav main__propsContainer main__propsContainer main__propsContainer main__propsContainer"
    "main__sideNav main__propsContainer main__propsContainer main__propsContainer main__propsContainer";

  // .main__topNav {
  //   grid-area: main__topNav;
  //   background-color: rgb(61, 61, 64);
  // }

  .main__sideNav {
    position: fixed;
    height: 100vh;
    width: 15vw;
    grid-area: main__sideNav;
    background-color: rgb(46, 45, 48);
  }

  .main__propsContainer {
    grid-area: main__propsContainer;
    background-color: rgb(236, 236, 236);
  }
}
