.splash__content {
  background-color: rgb(127, 196, 253);
  position: relative;
  button {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

.splash__loginContainer {
  button {
    color: rgb(127, 196, 253);
    background: linear-gradient(to right, #eeeeee 0%, #eeeeee 100%);
  }
  color: white;
  position: absolute;
  top: 2vh;
  right: 2vw;
}
