.profile__portfolio__modal {
  height: 550px;
  width: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.profile__portfolio__container {
  display: flex;
  // flex-direction: column;
  // border: 1px solid red;
  // height: 15vh;
}

.profile__portfolio__image {
  // border: 1px solid green;
  // height: 7vh;
  // width: 10vw;
  margin-right: 2vw;
  cursor: pointer;
}
