.appliedJobs__container {
  margin-top: 10vh;
}
.appliedJobs__topNav {
  z-index: 1;
  width: 85vw;
  position: fixed;
  top: 0px;
  background-color: #343337;
  padding-left: 2vw;
  height: 8vh;
  display: flex;
  justify-content: space-around;
}
