.appliedJobs__container {
  margin-top: 10vh;
  background-color: #ececec;
}
.appliedJobs__topNav {
  z-index: 1;
  width: 85vw;
  position: fixed;
  top: 0px;
  background-color: #343337;
  padding-left: 2vw;
  height: 8vh;
  display: flex;
  justify-content: space-around;
}

.appliedJobs__freelancerFavContainer {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 65vw;
  display: flex;
  flex-direction: row;
  border-left: 12px solid #32cd32;
  border-radius: 5px;
  box-shadow: 0px 1px 8px 2px #b9b9b9;
}
.appliedJobs__employerListingContainer {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 65vw;
  display: flex;
  flex-direction: row;
  border-left: 12px solid #32cd32;
  border-radius: 5px;
  box-shadow: 0px 1px 8px 2px #b9b9b9;
}

.appliedJobs__employerPosting {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
}

.appliedJobs__applied {
  color: green;
  font-weight: bold;
}

.appliedJobs__freelancerModalButton {
  display: flex;
  justify-content: flex-end;
  height: 10%;
}

.appliedJobs__employerModalButton {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 10%;
}
.appliedJobs__noJobs {
  color: lightgray;
}
