.feed__mergedFreelancerContainer {
  // border: 2px solid black;
  // background-color: tan;
  background-color: white;
  margin-left: 100px;
  margin-bottom: 10px;
  width: 70vw;
  display: flex;
  flex-direction: row;
}

.feed__freelancerPosting {
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
  width: 80%;
}
.feed__freelancerPosting__header {
  margin-top: 5px;
  // border: 2px solid green;
  width: 70%;
  margin: auto;
  color: #7fc4fd;
}
.feed__freelancerPosting__body {
  display: flex;
  margin: auto;
  width: 50%;
}
.feed__freelancerModalButton {
  display: flex;
  justify-content: flex-end;
  height: 10%;
}

.feed__mergedEmployerContainer {
  // border: 2px solid black;
  // background-color: blanchedalmond;
  background-color: white;
  margin-left: 100px;
  margin-bottom: 10px;
  width: 70vw;
  display: flex;
  flex-direction: row;
}
.feed__is__employer {
  text-decoration: none;
  color: black;
}
.feed__employerPosting__header {
  margin-top: 5px;
  // border: 2px solid red;
  width: 70%;
  margin: auto;
  color: #7fc4fd;
}

.feed__employerPosting {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 80%;
}
.feed__employerPosting__body {
  display: flex;
  margin: auto;
  width: 50%;
}

.feed__employerPosting__rightdiv {
  display: flex;
  margin-left: 40px;
  justify-content: flex-end;
  flex-direction: column;
  height: 10%;
}
.feed__employerModalButton {
  margin-top: 10px;
}
.feed__employerPosting__rightdiv__specialty__price {
  // margin-bottom: 10px;
  padding: 20px;
}
.feed__employerPosting__moment {
  margin-left: 120px;
  font-size: 0.6em;
}

.feed__applied {
  color: green;
  font-weight: bold;
}
.feed__topNav {
  z-index: 1;
  width: 85vw;
  position: fixed;
  top: 0px;
  background-color: #343337;
  padding-left: 2vw;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  color: white;
}
