.feed__mergedFreelancerContainer {
  border: 2px solid black;
  background-color: pink;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 80vw;
  display: flex;
  flex-direction: row;
}

.feed__mergedEmployerContainer {
  border: 2px solid black;
  background-color: skyblue;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 80vw;
}
.feed__freelancerPosting {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.feed__freelancerPosting {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.feed__employerPosting {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.feed__applied {
  color: green;
  font-weight: bold;
}
